* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* comman classes styles starts here */
.container {
    width: 100%;
    max-width: 1140px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-box{
    width: 350px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background: #FD6F00;
}
.img-box{
    width: 100%;
}
.text-box p{
    font-size: 14px;
    color: #fff;
    padding: 5px;
    text-align: center;
}
/* .owl-carousel.owl-drag .owl-item{
    width: 350px !important;
} 
.owl-theme .owl-dots{
    display: none !important;
}
 .owl-theme .owl-nav{
    position: absolute;
    top: 50%;
    left: 0;
}
.owl-carousel .owl-nav button.owl-next{
    position: relative;
    top: 0;
    right: -1137px;
}
.owl-carousel .owl-nav button.owl-prev{
    position: relative;
    top: 0;
    left: -26px;
} */
/* #banner-carousel .img-box{
    width: 1322px;
    height: 550px;
} */
.banner--nav .owl-nav{
    position: absolute !important;
    top: 50% !important;
    left: 0 !important;
}
.banner--nav .owl-nav .owl-prev span{
    font-size: 35px;
}
.banner--nav .owl-nav .owl-prev{
    position: relative;
    left: -30px;
}
.banner--nav .owl-nav .owl-next span{
    font-size: 35px;
}
.banner--nav .owl-nav .owl-next{
    position: relative;
    right: -1140px;
}